<html>
	<head>
		<title>Developer Center</title>
		<script src="/static/jquery.min.js"></script>
		<script src="/static/jsonForm.js"></script>
		<link rel="stylesheet" href="/static/graphdog.css" type="text/css">
	</head>
	<body leftmargin=0 topmargin=0>
		<table align=center border=1 width=100% height=100% class="_base">
		<tr class="_base_header">
			<td>GraphDog Developer Center</td><td align=right>{{localtime}} &nbsp;&nbsp;</td>
		</tr>
		<tr>
			<td align=center valign=top colspan=2>
				{% block bodycontent %}
					body content
				{% endblock %}
			</td>
		</tr>
		<tr class="_base_footer" >
			<td colspan=2> Fun to suprise the world <br> - LitQoo - </td>
		</tr>
		</table>
	</body>
</html>