{% extends '_base.html' %}
{% block bodycontent %}

<a href=createapp.html> createApp</a><br>
<a href=createtoken.html> createToken</a><br>
<a href=desDecoder.html> DES_dec(base64_dec(value))</a><br><br>


<a href={{logouturl}}> logout</a><br><br>
		
		applist
		<table border=1>
			{% for app in appList %}
				<tr>
					<td><a href=appView.html?aID={{app.aID}}>{{app.title}}</a></td>
					<td>{{app.aID}}</td>
					<td>{{app.secretKey}}</td>
					<td>{{app.scoresSortValue}}</td>
				</tr>
			{% endfor %}
		</table>

		userlist
		<table border=1>
			{% for user in userList %}
				<tr>
					<td>{{user.nick}}</td>
					<td>{{user.flag}}</td>
					<td>{{user.udid}}</td>
					<td>{{user.installs}}</td>
					<td>{{user.mail}}</td>
					<td>{{user.CPIEvents}}</td>
				</tr>
			{% endfor %}
		</table>

{% endblock %}