{% extends 'appView_base.html' %}
{% block editor %}
userrank
{% endblock %}

{% block list %} 
	{% if msg %}
{{msg}}
	{% else %}
		<table width=100% border=1>
			<tr>
				<td>name</td>
				<td>category</td>
				<td>score</td>
				<td>time</td>
				<td>userdata</td>
			</tr>
		{% for row in rankList %}
			<tr>
				<td>{{row.nick}}</td>
				<td>{{row.gType}}</td>
				<td>{{row.score}}</td>
				<td>
					{{row.playTime}} ,{{row.uTime}}~{{row.eTime}}
				</td>
				<td>
					{{row.userdata}}
				</td>
			</tr>
		{%endfor%}
	</table>

	{% if next_curs %}
		<a href=/developcenter/appView_rank.html?aID={{aID}}&cursor={{next_curs.urlsafe}}&limit={{limit}}>next</a>
	{% endif %}
	{% endif %}
{% endblock %}