{% extends 'appView_base.html' %}
{% block editor %}
{{today}}
{% endblock %}

{% block list %} 
		<table width=100% border=1>
			<tr>
				<td>no</td>
				<td>nick</td>
				<td>flag</td>
				<td>udid</td>
				<td>requests</td>
				<td>lastConnect</td>
				<td>joindate</td>
				<td></td>
			</tr>
		{% for appuser in userList %}
			<tr>
				<td>{{appuser.key.id}}</td>
				<td>{{appuser.nick}}</td>
				<td>{{appuser.flag}}</td>
				<td>{{appuser.udid}}</td>
				<td>{{appuser.requests}}</td>
				<td>
					{{appuser.lastDate}}
				</td>
				<td>
					{{appuser.joinDate}}
				</td>
				<td><a href=/developcenter/appView_log.html?aID={{aID}}&auser={{appuser.key.id}}>log</a></td>
			</tr>
		{%endfor%}
	</table>
	{% if more %}
		<a href=/developcenter/appView_user.html?aID={{aID}}&cursor={{next_curs.urlsafe}}&limit={{limit}}>next</a>
	{% endif %}
{% endblock %}