{% extends 'appView_base.html' %}
{% block editor %}
userrank
{% endblock %}

{% block list %} 
	{% if msg %}
{{msg}}
	{% else %}
		<table class="datalist">
		<thead>
			<tr>
				<th>name</th>
				<th>flag</th>
				<th>category</th>
				<th>score</th>
				<th>time</th>
				<th>userdata</th>
			</tr>
			</thead>
		{% for row in rankList %}
			<tr>
				<td><a href=/developcenter/appView_rank.html?aID={{aID}}&auser={{row.auInfo}}>{{row.nick}}</a></td>
				<td>{{row.flag}}</td>
				<td>{{row.gType}}</td>
				<td>{{row.score}}</td>
				<td>
					{{row.sTime}}, {{row.playTime}}
				</td>
				<td>
					{{row.userdata}}
				</td>
			</tr>
		{%endfor%}
	</table>

	{% endif %}
{% endblock %}