
{% extends '_base.html' %}
{% block bodycontent %}

<table border=1>
	<tr><td>
			{{aID}} <a href=appmanager.html>back</a>
		</td>
	</td></tr>
	<tr><td>
		<table border=1><tr>
			<td><a href=appView.html?aID={{aID}}>info</a></td>
			<td><a href=appView_notice.html?aID={{aID}}>request</a></td>
			<td><a href=appView_explorer.html?aID={{aID}}>explorer</a></td>
			<td><a href=appView_user.html?aID={{aID}}>user</a></td>
			<td><a href=appView_giftcode.html?aID={{aID}}>giftcode</a></td>
			<td><a href=appView_rank.html?aID={{aID}}>rank</a></td>
			<td><a href=appView_log.html?aID={{aID}}>log</a></td>
			<td><a href=appView_version.html?aID={{aID}}>version</a></td>
			<td><a href=appView_stats.html?aID={{aID}}>stats</a></td>
			</tr></table>
	</td></tr>
	<tr><td>
		{% block editor %} {% endblock %}
	</td></tr>
	<tr><td>
			{% block list %} {% endblock %} 
	</td></tr>
{% endblock %}