{% extends 'appView_base.html' %}
{% block editor %}
create giftcode
<form action=appView_giftcode.html method=post>
	<input type=hidden name=aID value={{aID|safe}}>
			category:<input type=text name=category value={{giftcode.category|safe}}><br>
			value:<input type=text name=value value={{giftcode.value|safe}}><br>
			count : <input type=text name=count value=1> <br>
			userdata<br>
			<div id='userdata' class='jsonForm' value='{}'></div>

			
			<input type=submit value='save'>
</form>
{% endblock %}

{% block list %} 
	{% if msg %}
{{msg}}
	{% else %}
	<table class="datalist" source="appView_data.html" db="DB_AppGiftcode" info='{"aID":"{{aID}}","filterfield":"{{filterfield}}","filtervalue":"{{filtervalue}}","limit":"{{limit}}"}'>
	<thead>

			<tr>
				<th field="code">code</th>
				<th field="category" editor="text">category</th>
				<th field="value" editor="text">value</th>
				<th field="userdata" convert="jsondata" editor="jsonform">userdata</th>
				<th field="createtime" convert="timeToDate">createTime</th>
				<th field="user">user</th>
				<th field="usetime" convert="timeToDate">useTime</th>
				<th deletebutton="on">del</th>
			</tr>
	</thead>
	<tbody>
	</tbody>
	</table>
	{% endif %}
{% endblock %}