{% extends 'appView_base.html' %}
{% block editor %}
{% endblock %}

{% block list %} 
<script>
 var activeTime = function(data,cls){
 	lastdate = timeToDate(data['lastdate'])
 	at = data['lastdate']-data['joindate']
	at = at/(60*60)
 	if(at>48)at=48
 	color = parseInt(at/(48)*255)
 	return '<td style="background-color:rgb(255,'+color+','+color+')">'+lastdate+'</td>'
 }

 var userlink = function(data,cls){
 	 return '<td><a href=appView_log.html?aID={{aID}}&filterfield=auid&filtervalue='+data["id"]+'>log</a> / '
			+'<a href=appView_rank.html?aID={{aID}}&auser='+data["id"]+'> score</a> / '
			+'<a href=appView_feedback.html?aID={{aID}}&filterfield=sender&filtervalue='+data["id"]+'>feedback</a></td>'
 }
</script>

	<table class="datalist" source="appView_data.html" db="DB_AppUser" info='{"aID":"{{aID}}","filterfield":"{{filterfield}}","filtervalue":"{{filtervalue}}","limit":"{{limit}}"}'>
	<thead>
			<tr>
				<th field="uid">userid</th>
				<th field="id">appuserid</th>
				<th field="version">version</th>
				<th field="grade" editor="text">grade</th>
				<th field="nick">nick</th>
				<th field="flag">flag</th>
				<th field="requests" convert="jsondata" editor="jsonform">requests</th>
				<th computeField="on" computeFunc="activeTime">lastConnect</th>
				<th field="joindate" convert="timeToDate">joindate</th>
				<th field="logincount">loginCount</th>
				<th computeField="on" computeFunc="userlink">action</th>
			</tr>
	</thead>
	<tbody>
	</tbody>
	</table>


		
{% endblock %}