{% extends 'appView_base.html' %}
{% block editor %}
{% endblock %}

{% block list %} 
	{% if msg %}
{{msg}}
	{% else %}
		{% if auInfo %}
		join: {{auInfo.joinDate}} , last: {{auInfo.lastDate}}, activeTime : {{auInfo.activeTime}}
		{% endif %}


	<table class="datalist" source="appView_data.html" db="DB_AppLog" info='{"aID":"{{aID}}","filterfield":"{{filterfield}}","filtervalue":"{{filtervalue}}","limit":"{{limit}}"}'>
	<thead>

			<tr>
				<th field="auid" index="on">user</th>
				<th field="version">version</th>
				<th field="category" index="on">category</th>
				<th field="text" editor="text">log</th>
				<th field="time" convert="timeToDate">time</th>
				<th deletebutton="on">del</th>
			</tr>
	</thead>
	<tbody>
	</tbody>
	</table>
	

	{% endif %}
{% endblock %}