{% extends 'appView_base.html' %}
{% block editor %}
loglist
{% endblock %}

{% block list %} 
	{% if msg %}
{{msg}}
	{% else %}
		{% if auInfo %}
		join: {{auInfo.joinDate}} , last: {{auInfo.lastDate}}, activeTime : {{auInfo.activeTime}}
		{% endif %}


<script>  
$(document).ready(function(){               //ajax실행중 loading글씨 보이기  
	var nextlist = function(){
		console.log($("#nextbtn").attr("nextinfo"))
   		$.get("appView_log_data.html", $("#nextbtn").attr("nextinfo"), function(data){ 
   					$('#nexttr').remove()
   					$('#loglist').append(data)     //div1에 내용 넣기  
   					$('#nextbtn').click(nextlist)
			 }  
		); 
   }

   nextlist()

});  
</script>  
	<table width=100% border=1 id="loglist">
			<tr>
				<td>user</td>
				<td>version</td>
				<td>category</td>
				<td>log</td>
				<td>time</td>
			</tr>
		<tr id="nexttr"><td colspan=5><a href="#a" id="nextbtn" nextinfo="aID={{aID}}&category={{category}}&auser={{auser}}&cursor={{next_curs.urlsafe}}&limit={{limit}}">next</a></td></tr>
	</table>
	

	{% endif %}
{% endblock %}