{% extends '_base.html' %}
{% block bodycontent %}


<form action="/developcenter/desDecoder.html" method=POST>
	secretKey : <input name=sKey value={{sKey}}><br>
	<select name='mode'>
	<option value="decode">decode</option>
	<option value="encode">encode</option>
	</select>

	<select name='crytMode'>
	<option value="ECB">ECB</option>
	<option value="CBC">CBC</option>
	</select>
	<br>
	<textarea rows=10 cols=50 name=fromTxt>{{fromTxt}}</textarea>
	->
	<textarea rows=10 cols=50 name=toTxt>{{toTxt}}</textarea>
	<br>
	<input type=submit value="DES_dec(base64_dec(value))">
</form>

{% endblock %}