<html>
	<head>
		<title>Developer Center</title>
		<script src="/static/jquery.min.js"></script>
		<script>
		$(document).ready(function() {

			
			//var jsonStr = $(opener.document).find("#{{ input }}").val();

			$("body").on("click",".selectImage", function(e){ //user click on remove text
				imgurl = 'http://www.graphdog.net/imageview/'+$(this).attr('imgname')
				opener.changeJsonFormInput("#{{ input }}",imgurl);

		        //$(opener.document).find("#{{ input }}").val($(this).prop('src')).change();
		        window.close();
				return false;
			}) 

		});


		</script>
	</head>
	<body>
		<form action="{{imgUploadUrl}}" method="POST" enctype="multipart/form-data">
		<input type="hidden" value="{{input}}" name="input">
		
			Upload File: <input type="file" name="file"><br> <input type="submit" name="submit" value="Submit"> </form></body></html>
		</form>
		{% for image in images %}
			<br>
			<img src='{{image.imgurl}}' width='100' imgname="{{image.imageName}}" class="selectImage">
			[<a href='imageselector.html?mode=delete&id={{image.imageName}}'>delete</a>]
			<br><br>
		{% endfor %}

	</body>
</html>