<html>
	<head>
		<title>Developer Center</title>
		<script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
		<script>
		$(document).ready(function() {

			var MaxInputs       = 8; //maximum input boxes allowed
			var InputsWrapper   = $("#InputsWrapper"); //Input boxes wrapper ID
			var AddButton       = $("#AddMoreFileBox"); //Add button ID
			var closeButton     = $("#closeEditor"); //Add button ID

			var x = 1; //initlal text box count
			var FieldCount=1; //to keep track of text box added

			var jsonStr = $(opener.document).find("#{{ input }}").val();
			var values = {}

			if(jsonStr!=""){
				values=JSON.parse(jsonStr);
				i=0
				for(key in values){
					i++;


					row = '<div>'
					row +='<input type="text" name="key[]" id="key_'+i+'" value="'+key+'"/>\n'+
			            	'<input type="text" name="value[]" id="value_'+i+'" value="'+values[key]+'"/>\n'
			            	
			        row+='<select name="datatype[]" id="datatype_'+i+'">'
			   		row+='<option value="'+typeof(values[key])+'">'+typeof(values[key])+'</option>'
			   		

			   		row+='<option value="string">string</option>'
			   		row+='<option value="number">number</option>'
			   		row+='<option value="boolean">boolean</option>'
			   		row+='<option value="object">object</option>'
			   		row+='</select>'
			        row +=' <a href="#" class="removeclass">x</a>'
			        row +='</div>'

					$(InputsWrapper).append(row);
					FieldCount++;
					x++;
				}
			}else{

					i=1
					key=""
					row = '<div>'
					row +='<input type="text" name="key[]" id="key_'+i+'" value="key"/>\n'+
			            	'<input type="text" name="value[]" id="value_'+i+'" value="value"/>\n'
			            	
			        row+='<select name="datatype[]" id="datatype_'+i+'">'
			   		row+='<option value="string">string</option>'
			   		row+='<option value="number">number</option>'
			   		row+='<option value="boolean">boolean</option>'
			   		row+='<option value="object">object</option>'
			   		row+='</select>'
			   		row +=' <a href="#" class="removeclass">x</a>'
			        row +='</div>'
			        

				$(InputsWrapper).append(row);
			}

		
			$(AddButton).click(function (e)  //on add input button click
			{
		        if(x <= MaxInputs) //max input box allowed
		        {
		            FieldCount++; //text box added increment
		            //add input box
		            row = '<div>'
					row +='<input type="text" name="key[]" id="key_'+FieldCount+'" value="key"/>\n'+
			            	'<input type="text" name="value[]" id="value_'+FieldCount+'" value="value"/>\n'
			            	
			        row+='<select name="datatype[]" id="datatype_'+FieldCount+'">'
			   		row+='<option value="string">string</option>'
			   		row+='<option value="number">number</option>'
			   		row+='<option value="boolean">boolean</option>'
			   		row+='<option value="object">object</option>'
			   		row+='</select>'
			   		row +=' <a href="#" class="removeclass">x</a>'
			        row +='</div>'

		            $(InputsWrapper).append(row);
		            x++; //text box increment
		        }
			return false;
			});

			$("body").on("click",".removeclass", function(e){ //user click on remove text
		        if( x > 1 ) {
		                $(this).parent('div').remove(); //remove text box
		                x--; //decrement textbox
		        }
				return false;
			}) 


			$(closeButton).click(function (e)  //on add input button click
			{	

				//var array= new Array();
				var dict= {};
				for(i=1;i<=FieldCount;i++){
					if(typeof $("#key_"+i).val()=="undefined")continue;
					datatype = $("#datatype_"+i).val();
					key = $("#key_"+i).val();
					if (datatype=='number')
						dict[key]=Number($("#value_"+i).val());
					else if(datatype=='string')
						dict[key]=String($("#value_"+i).val());
					else if(datatype=='boolean')
						dict[key]=eval($("#value_"+i).val());
					else if(datatype=='object')
						dict[key]=eval($("#value_"+i).val());
				}
				
				// obj to string JSON.stringify(myObj);
				//string to obj  JSON.parse(string);
		        $(opener.document).find("#{{ input }}").val(JSON.stringify(dict));
		        window.close();

			return false;
			});

		});


		</script>
	</head>
	<body>

			<div id="InputsWrapper">

			</div>
			<span class="small"><a href="#" id="AddMoreFileBox" class="btn btn-info">Add {{keyname}}</a></span>
			
<br><br>
			<span class="small"><a href="#" id="closeEditor" class="btn btn-info">Apply</a></span>
	</body>
</html>